[submodule "core"]
	path = core
	url = https://github.com/enabledtocreate/erganis-core.git
[submodule "studio"]
	path = studio
	url = https://github.com/enabledtocreate/erganis-studio.git
[submodule "agora"]
	path = agora
	url = https://github.com/enabledtocreate/erganis-agora.git
[submodule "companion"]
	path = companion
	url = https://github.com/enabledtocreate/erganis-companion.git
[submodule "lyceum"]
	path = lyceum
	url = https://github.com/enabledtocreate/erganis-lyceum.git
[submodule "notes"]
	path = notes
	url = https://github.com/enabledtocreate/erganis-notes.git
